@model BibleQuoteModel
@{
    ViewData["Title"] = "Home Page";
}

@{
     var host = $"https://{Context.Request.Host}";
}
@section Styles{
}

<div class="text-center">
    <h1 class="display-4">Bible Search</h1>
    <p>This demostrate how to utilize .</p>

    <p>
        <form asp-action="Index" asp-controller="Home" method="POST" class="form-group">
            <label asp-for="Search">Search</label>
            <input  class="form-control" asp-for="Search" placeholder="Your name goes here i.e romans+12:1-2" />

            <input class="form-control btn-info" type="submit" value="Search"/>
        </form>
    </p>

    @if (Model?.Result != null)
    {
       <p>
            @foreach (var verse in Model?.Result?.Verses)
            {
                    <div>@verse.Text</div>
            }
        </p>
    }

    <p>
        Please click Status to attempt to communicate with https://localhost:8001/api/throw end point.
    </p>
    <p>
        <form asp-action="Status" asp-controller="Home"  method="POST" class="form-group">
            <input class="form-control btn-info" type="submit" value="Status" />
        </form>
    </p>

    <p>
        @ViewBag.Status
    </p>
</div>


@section Scripts{

}
